@font-face {
  font-family: "iransans";
  src: local("iransans"), url("../fonts/IRANSansWeb.eot") format("eot"),
    url("../fonts/IRANSansWeb.ttf") format("ttf"),
    url("../fonts/IRANSansWeb.woff") format("woff"),
    url("../fonts/IRANSansWeb.woff2") format("woff2");
}
body,
html {
  direction: rtl;
  font-family: "iransans", tahoma, sans-serif;
}
* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
ul,
li {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
  margin-top: 2rem;
}
